<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="E2E Test Framework" parallel="tests" thread-count="2">
	<!-- <listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners> -->

	<test name="e2e test chrome">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.mytests.SearchFlightTest" />
			<class name="com.mytests.FlightOfferDetailsTest" />
			<class name="com.mytests.ItenaryDetailsTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->